
@use './scss/reset';
@use './scss/variables' as *;
@use './scss/queries' as *;


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
  background:var(--navy-950);
  font-family: var(--t-family);
  color:var(--grey-200);
  padding: 1.5rem;;
}



h1, h2, h3 {

}

h1 {
    font-size: var(--t-1-size);
    line-height: 1;
    letter-spacing: var(--t-1-letterSpacing);
    font-weight: var(--t-weight-light);
}

img {
    max-width: 100%;
}

// Stack

.stack {
    display: flex;
    flex-direction: column;
}


// Frame

.frame {
    min-block-size: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Grid

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    @include large {
        gap: 2rem;
    }
}

.inline-center {
    margin-inline: auto;
}

.rounded {
    border-radius: var(--radius);
}

.subtext {
    color: var(--navy-200);
    font-size: var(--t-subtext-size);
    font-weight: var(--t-weight-regular);
    line-height: var(--t-subtext-lh);
    margin-block-start:8px;
}

// Dashboard Begins
.dashboard {
    --d-max-width: 69.75rem;

    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    max-inline-size: var(--d-max-width, 69.75rem);
    gap: 1.5rem;

    @include large {
        gap: 2rem;
    }

    &__header {
        background: var(--navy-900);
        @include large {
            align-self: start;
        }
    }

    &__header {
        overflow: hidden;
        align-items:start;
    }

    &__profile {
        width: 100%;
        display: flex;
        background: var(--purple-600);
        gap: 1.5rem;
        padding:2rem;
        align-items:center;

        @include medium {
            flex-direction: row;
            align-items:center;
        }

        @include large {
            flex-direction: column;
            align-items:start;
            padding-inline: 2rem;
            padding-block-start: 2rem;
            padding-block-end:  5.75rem;
        }
        
        .avatar {
            width: 4rem;
            height: 4rem;
            border: 3px solid var(--white);
            border-radius: 50%;
            @include large {
                width: 4.875rem;
                height: 4.875rem;
            }
        }

        h1 {
            color: white;
            margin-block:0;
            line-height: 1.75;
            font-size:var(--t-title-size);
            @include large {
                line-height: var(--t-title-lh);
            }
            span {
                display: block;
                margin-block-start: 0;
                margin-block-end: 8px;
            }
        }

    }

    &__controls {
        width: 100%;
        height: 100%;
        padding: 1.5625rem;
        max-width:21.4375rem;
        margin-inline: auto;
        display: flex;
        align-items:start;
        justify-content: space-between;

        @include large {
            flex-direction: column;
            justify-content:start;
        }


        button {
        cursor:pointer;
        font-size: var(--t-cta-size);
        line-height:var(--t-cta-lh);
        transition: 0.25s ease-in-out;
        color:var(--purple-500);

        &[aria-pressed="true"] {
            color: var(--white);
        }
        @include large {
            margin-block-end: 1.3125rem;
            &:last-of-type {
                margin-block-end: 0;
            }
        }

        }
    }
}

.card {
    position:relative;
    color: white;
    padding-top:2.8125rem;
    overflow: hidden;
    transform:scale(0);
    transform-origin:center;
    animation: scaleUp 0.5s ease-in-out forwards;
    transition:0.5s ease-in-out;

    &:hover, &:focus-visible {
        .card__inner {
            background-color: var(--navy-800);
        }
    }

    &--work > &__background {
      background-color: var(--orange-300);
      background-image: url('../images/icon-work.svg');
      animation-delay: 0.45s;
    }
    &--play > &__background {
      background-color: var(--blue-300);
      background-image: url('../images/icon-play.svg');
      animation-delay: 0.55s;
    }
    &--study > &__background {
      background-color: var(--pink-400);
      background-image: url('../images/icon-study.svg');
      animation-delay: 0.6s;
    }

    &--exercise > &__background {
      background-color: var(--green-400);
      background-image: url('../images/icon-exercise.svg');
      animation-delay: 0.65s;
    }
    &--social > &__background {
        background-color: var(--purple-700);
        background-image: url('../images/icon-social.svg');
        animation-delay:0.7s;
    }

    &--self-care > &__background {
        background-color: var(--yellow-300);
        background-image: url('../images/icon-self-care.svg');
        animation-delay: 0.75s;
    }
  

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        transform:translateY(100%);
        height: 60px;
        border-top-left-radius: var(--radius);
        border-top-right-radius: var(--radius);
        background-repeat: no-repeat;
        animation: animUp 0.45s ease-in-out forwards;
        transform-origin:left;
        background-position: top right 1.25rem;
      }


    &__inner {
      position: relative;
      background: var(--navy-900);
      width:100%;
      padding: 1.5625rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      border-top-left-radius: var(--radius);
      border-top-right-radius: var(--radius);
      z-index: 1;

    }
  
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    &__title {
      font-size: var(--t-cta-size);
      font-weight: var(--t-weight-medium);
      line-height: var(--t-cta-lh);
    }
  
    &__menu-button {
      position: relative;
      padding: 0.55rem;
      background: none;
      display: flex;
      border: none;
      color: var(--navy-200);
      font-size: 1rem;
        &:hover, &:focus-visible {
            cursor:pointer;
        }
      }

  
    &__stats {
        position:relative;
        opacity: 0;
        transform-origin: top;
        display: none;
        align-items:center;
        justify-content:space-between;
        @include medium {
            transform-origin: left;
            flex-direction: column;
            align-items:start;
        }
    }
  
    &__stat {
      font-size: var(--t-start-size);
  
      &--current {
        font-size: var(--t-stat-large-size);
        line-height:var(--t-stat-large-lh);
        font-weight: var(--t-weight-light);
      }
  
      &--previous {
        color: var(--navy-200);
        font-size:15px;
        font-weight: 400;
        line-height: 18px;
        margin-block-start:8px;
      }
    }
  }


@media (min-width: 960px) {
    .dashboard {
        grid-template-columns: min(255px, 33%) 1fr;
    }
}


.show {
    display: flex;
}

.animate-in {
    position:relative;
    animation: animIn 450ms ease-in-out forwards;
    animation-delay:0.25s;
    .card__stat--previous {
        transition-delay: 0.5s;
    }
}

.animate-out { 
    position:absolute;
    animation: animOut 450ms ease-in-out forwards;
}

@keyframes animIn {
    0%{ 
        filter: blur(15px);
        opacity: 0;
        transform:translateY(-50%) scale(0.4);
    }

    100% {
        filter:blur(0);
        transform:scale(1);
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes animOut {
    0%{ 
        filter:blur(0);
        opacity: 1;
        transform:translateY(50%) scale(1);
    }

    100% {
        filter: blur(15px);
        opacity: 0;
        transform:translateY(100%) scale(0.4);
    }
}

@keyframes animUp {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes scaleUp {
    0% {
        opacity:0;
        transform:scale(0.6);
    }

    100% {
        opacity: 1;
        transform: scale(1)
    }
}