
@use './scss/reset';
@use './scss/variables' as *;
@use './scss/queries' as *;


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
  background:var(--navy-950);
  font-family: var(--t-family);
  color:var(--grey-200);
  padding: 2rem;
}



h1, h2, h3 {

}

h1 {
    font-size: var(--t-1-size);
    line-height: 1;
    letter-spacing: var(--t-1-letterSpacing);
    font-weight: var(--t-weight-light);
}

img {
    max-width: 100%;
}

// Stack

.stack {
    display: flex;
    flex-direction: column;
}


// Frame

.frame {
    min-block-size: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Grid

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

.inline-center {
    margin-inline: auto;
}

.rounded {
    border-radius: 15px;
}

.subtext {
    color: var(--navy-200);
    font-size:15px;
    font-weight: 400;
    line-height: 18px;
    margin-block-start:8px;
}

// Dashboard Begins
.dashboard {
    --d-max-width: 69.75rem;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    max-inline-size: var(--d-max-width, 69.75rem);
    gap: 2rem;

    @include medium {
    }

    &__header, &__item {
        background: var(--navy-900);
    }

    &__header {
        overflow: hidden;
        align-items:start;
    }

    &__profile {
        width: 100%;
        display: flex;
        flex-direction:column;
        background: var(--purple-600);
        gap: 2.5rem;
        padding:2rem;

        @include medium {
            flex-direction: row;
            align-items:center;
        }

        @include large {
            flex-direction: column;
            align-items:start;
            padding: 2rem 5.3125rem 5.75rem 2rem;
        }
        .avatar {
            width: 78px;
            height: 78px;
            border: 3px solid var(--white);
            border-radius: 50%;
        }

        h1 {
            color: white;
            margin-block:0;
            line-height:47px;
            span {
                display: block;
            }
        }

    }

    &__controls {
        width: 100%;
        height: 100%;
        max-width:343px;
        margin-inline: auto;
        display: flex;
        align-items:start;
        justify-content: space-between;

        @include large {
            flex-direction: column;
            justify-content:start;
        }


        button {
        cursor:pointer;
        font-size: 18px;
        line-height:21px;
        color:var(--purple-500);

        &[aria-pressed="true"] {
            color: var(--white);
        }
        @include large {
            margin-block-end: 21px;
            &:last-of-type {
                margin-block-end: 0;
            }
        }

        }
    }
}

@mixin circle {
    width: 5px;
    height: 5px;
    display: inline-block;
    background: var(--navy-200);
    border-radius:50%;
  }
  

.card {
    position:relative;
    background: var(--navy-900);
    color: white;
    padding-top:45px;
    overflow: hidden;

    &:hover, &:focus-visible {
        .card__inner {
            background-color: var(--navy-800);
        }
    }

    &--work > &__background {
      background-color: var(--orange-300);
      background-image: url('../images/icon-work.svg');
    }
    &--play > &__background {
      background-color: var(--blue-300);
      background-image: url('../images/icon-play.svg');
    }
    &--study > &__background {
      background-color: var(--pink-400);
      background-image: url('../images/icon-study.svg');
    }

    &--exercise > &__background {
      background-color: var(--green-400);
      background-image: url('../images/icon-exercise.svg');
    }
    &--social > &__background {
        background-color: var(--purple-700);
        background-image: url('../images/icon-social.svg');
    }

    &--self-care > &__background {
        background-color: var(--yellow-300);
        background-image: url('../images/icon-self-care.svg');
    }
  

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        background-repeat: no-repeat;
        background-position: top right 20px;
      }


    &__inner {
      position: relative;
      background: var(--navy-900);
      width:100%;
      padding: 1rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      z-index: 1;
    }
  
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    &__title {
      font-size: 18px;
      font-weight: 500;
      line-height: 21px;
    }
  
    &__menu-button {
      position: relative;
      padding: 0.55rem;
      background: none;
      display: flex;
      border: none;
      color: var(--navy-200);
      font-size: 1rem;
        &:hover, &:focus-visible {
            cursor:pointer;
        }
      }

  
    &__stats {
        display: none;
        align-items:center;
        justify-content:space-between;
        @include medium {
            flex-direction: column;
            align-items:start;
        }
    }
  
    &__stat {
      font-size: 1rem;
  
      &--current {
        font-size: 2rem;
        @include medium {
            font-size: 56px;
            font-weight: 200;
            line-height: 66px;
        }
      }
  
      &--previous {
        color: var(--navy-200);
        font-size:15px;
        font-weight: 400;
        line-height: 18px;
        margin-block-start:8px;
      }
    }
  }

  .cushion-2 {
    padding: 2rem;
}

@media (min-width: 600px) {
    .dashboard {
    }
}

@media (min-width: 960px) {
    .dashboard {
        grid-template-columns: min(225px, 33%) 1fr;
    }
}


.show {
    display: flex;
}